.member-card-container {
    background-color: darkgray;
    border-radius: 10px;
    font-family: fantasy;
    font-size: 20px;
}

.row-name {
    color: brown;
}

.avatar {
    width: 40%;
    margin: 10px;
    border-radius: 10px;
}

.header-container {
    display: flex;
}

.member-infos-container {
    margin-top: 20px;
}