/* .Image {
    background-image: url('../../../assets/images/spaceX_image.jpg');
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    margin-left: 5%;
    margin-top: 5%;
} */

.title {
    color: #40A4C8;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

.information-container {
    color: black;
    padding: 2%;
    font-size: 20px;
    border: 1px solid white;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    font-family: fantasy;
    background-color: darkgray;
}

b {
    color: brown;
    text-decoration: underline;
}
