.sidebar {
    height: 100%;
    width: 50%;
    background-color: gainsboro;
    z-index: 20;
    position: absolute;
    -webkit-box-shadow: 1px 0px 4px 0px rgba(125,125,125,0.68);
    -moz-box-shadow: 1px 0px 4px 0px rgba(125,125,125,0.68);
    box-shadow: 3px 0px 4px 0px rgb(0 0 0 / 68%);
    -webkit-transition: all 1s;
    -moz-transition: all 1s ;
    transition: all 1s;   
}

.sidebar-item {
    border-bottom: 1px solid black;
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
    font-family: fantasy;
    color: black;
}

.sidebar-item:hover{
    color: blue;
}

.backdrop {
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: black;
    position: absolute;
    opacity: 0.5;
}

@media screen and (min-width: 440px) {
    .sidebar, .backdrop {
        display: none;
    } 
}
